body {
    background-color: #000000;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    text-align: center;
}

button {
    background-color: #aa0404;
    border: rgb(255, 255, 255);
    border-radius: 8px;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;

}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    padding: 5px;
    max-width: 100%;
    height: auto;
    
    
}

.border {
    border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
    border-radius: 5px; /* this doesn't work */
    border-width: 4px;
    border: 2px solid rgb(80, 79, 79);
    padding: 6px;

}

p {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255);
    font-size: 25px;

}

video {
    width: 100%;
    height: auto;
}

